.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-box {
  width: 430px;
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

/* LOGO */
.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.login-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* TITLE */
.title-text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* FORM */
label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  outline: none;
}

input:focus {
  border-color: #007bff;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* PASSWORD ROW */
.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

/* SHOW PASSWORD BUTTON */
.show-pass {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #d9534f;
  cursor: pointer;
}

.show-pass:hover {
  text-decoration: underline;
}

/* FORGOT LINK */
.forgot-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* BUTTONS */
.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.login-btn,
.website-btn {
  width: 48%;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.login-btn {
  background: #f1f9ff;
  border: 1px solid #007bff;
}

.website-btn {
  background: #ffecec;
  border: 1px solid #ff6b6b;
}
